.favourite {
  &__container {}
  &__title {
    text-align: center;
  }
  &__slider {
    margin-top: 40px;
  }
}
.slider {
  position: relative;
  &__frame {
    position: relative;
    z-index: $z-i-slider;
    max-width: 560px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__list {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: -100%;
  }
  &__item {
    flex: 0 0 100%;
  }
  &__timers {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-top: 40px;
  }
  &__timer {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: $border-light;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 50%;
      background-color: $border-dark;
    }
  }
  &__buttons {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 42.7%;
    display: flex;
    justify-content: space-between;
  }
  &__button {}
}
.slide {
  &__body {
    max-width: 480px;
    margin: 0 auto;
  }
  &__image-container {}
  &__image {
    width: 100%;
    height: 100%;
  }
  &__name {
    margin-top: 20px;
    @extend %heading-3;
    color: $text-dark;
    text-align: center;
  }
  &__description {
    margin-top: 16px;
    @extend %medium;
    color: $text-dark;
    text-align: center;
  }
  &__price {
    margin-top: 16px;
    @extend %heading-3;
    color: $text-dark;
    text-align: center;
  }
}