//==============================heading
%heading-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
%heading-1accent {
  font-style: italic;
}
%heading-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
%heading-2accent {
  font-style: italic;
}
%heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
//==============================body
%medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
%caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
//==============================Action
%linkbutton {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
%burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
//==============================MOBILE
//==============================Heading
%Mobheading-1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
}
%Mobheading-1accent {
  font-style: italic;
}
%Mobheading-2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
%Mobheading-2accent {
  font-style: italic;
}
