$transition0: 0.3s;
$tabwidth: 768;
$mobwidthM: 380;
$tabwidthpx: $tabwidth + px;
$mobwidthMpx: $mobwidthM + px;

$z-i-burger: 1;
$z-i-logo: 1;

// Colors
// Text
$text-dark: #403f3d;
$text-light: #e1d4c9;
$text-accent: #b0907a;

// Background
$background-body: #e1d4c9;
$background-container: #665f55;
$background-backdrop: #403f3dcc;

// Border
$border-light: #c1b6ad;
$border-dark: #665f55;